
# Created by https://www.gitignore.io/api/$@
# Edit at https://www.gitignore.io/?templates=$@

#!! ERROR: $@ is undefined. Use list command to see defined gitignore types !!#

# End of https://www.gitignore.io/api/$@
